table {
	
 /* Set border color to grey */
border-radius: 10px !important; /* Set border radius */
	border-collapse:separate;
	border-spacing:0px;
	

}


td {
padding: 8px 40px;
}


tbody tr:nth-child(odd) {
background-color: lightgray;
}

tbody tr:nth-child(even) {
background-color: white;

}
.heading{
	background-color:blueviolet !important;

	color:white;
	border-top-left-radius:20px !important;

	
	
}
.Hackerman{
	border:2px solid black !important;
}


