/* your code */
thead{
	background-color :rgb(33,90,142);
	color:white;
	
}
tr:nth-child(even){
	background-color:lightgrey;
}
tr,th{
	padding:20px 30px;
	
}
tr:hover{
	background-color:seagreen;
}
table{
	
	background-collapse:separate;
	border-spacing:0;
	border-radius:10px;
	border:0px solid black;
	overflow:hidden;
	
}